body {
    background-color: #fabc3c;
}

p {

}

h1 {

}

h2 {

}

.container_cabecalho {
    display: flex;
    padding: 10px;
    margin: 10px;
}

.menu {
    display: flex;
    position: relative;
    align-items: center;
    gap: 10px;
    
}

