@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-offwhite: #fff1d0;
  --color-yellow: #f0c808;
  --color-light-blue: #07a0c3;
  --color-dark-blue: #086788;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
}

.btn-mobile {
  font-size: 1.5rem;
}

.btn-default {
  background-color: var(--color-offwhite);
  color: var(--color-dark-blue);
  text-decoration: none;

  &:hover {
    color: var(--color-dark-blue);
    border: 1px solid var(--color-dark-blue);
  }
}

header {
  background-color: var(--color-yellow);
  padding: 12px 4%;
  margin: 5px;
  border-radius: 10px 10px 0px 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotipo {
  width: 150px;
}

ul {
  display: none;
  list-style: none;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  position: absolute;
  top: 99px;
  background-color: var(--color-yellow);
  left: 0;
  padding: 1rem;

  &.show {
    display: flex;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5px;
  }

  li {
    text-align: center;
  }

  a {
    color: var(--color-dark-blue);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-light-blue);
      border-bottom: 1px solid var(--color-light-blue);
    }
  }
}

.btn-default {
  display: none;
}

/* Seção Destaques */

#destaques {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  margin: 5px;
  justify-items: center;
  background-color: var(--color-yellow);
  border-radius: 10px;
  border: solid black 1px;
}

h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}

.pilares-daschpet {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  margin: 5px;
  gap: 15px;
}

.pilar {
  align-content: center;
  border: black solid 1px;
  background-color: var(--color-offwhite);
  border-radius: 10px;
  padding: 10px;
  width: 450px;
  height: 120px;
}

span {
  font-weight: 700;
}

.img-destaques {
  display: flex;
  justify-content: center;
}

.dachshund1 {
  width: 170px;
  bottom: 100px;
}

.destaquesFoto1 {
  display: none;
}

.destaquesFoto2 {
  display: none;
}

.destaquesFoto3 {
  display: none;
}

/* Seção Sobre */

#sobre {
  background-color: var(--color-yellow);
  border: solid black 1px;
  border-radius: 10px;
  margin: 5px;
  margin-top: 15px;
  padding: 40px 12px 40px 12px;
  text-align: center;
}

.imgsobre {
  display: none;
}

/* Seção Serciços */

#servicos {
  display: flex;
  flex-direction: column;
  background-color: var(--color-yellow);
  border: solid black 1px;
  border-radius: 10px;
  margin: 5px;
  margin-top: 15px;
  padding: 40px 12px 40px 12px;
  text-align: center;

  gap: 20px;

  .icones {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 45px;
  }

  i {
    font-size: 2em;
  }
}

/* Seção Contato */

#contato {
  border: 1px solid black;
  border-radius: 10px;
  padding: 40px 12px 40px 12px;

  margin: 15px 5px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-yellow);
}

#contato h1 {
  margin-bottom: 20px;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.formulario input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilização do botão centralizado */

.btn-enviar-dados {
  padding: 10px 30px;
  background-color: var(--color-light-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-enviar-dados:hover {
  background-color: var(--color-dark-blue);
}

footer {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--color-light-blue);
  height: 60px;
  padding: 12px;
}

footer h2 {
  font-size: 14px;
}

@media (min-width: 769px) {
  header {
    border-radius: 10px;

    .navbar {
      .btn-mobile {
        display: none;
      }

      ul {
        font-size: 2;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: static;
        gap: 2rem;
        width: auto;
        padding: 0;
      }

      .btn-default {
        display: block;
      }
    }
  }

  #destaques {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    margin: 5px;
    justify-items: center;
    background-color: var(--color-yellow);
    border-radius: 10px;
    border: solid black 1px;
  }

  h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
  }

  .pilares-daschpet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    gap: 10px;
  }

  .pilar {
    align-content: center;
    border: black solid 1px;
    background-color: var(--color-offwhite);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: 150px;
  }

  span {
    font-weight: 700;
  }

  .img-destaques {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    width: auto;
  }

  .dachshund1 {
    display: none;
    width: 170px;
    bottom: 100px;
  }

  .containerimg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    gap: 10px;
    height: 300px;
  }

  .destaquesFoto1 {
    display: flex;
    align-content: center;
    border: black solid 1px;
    background-color: var(--color-offwhite);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
  }

  .destaquesFoto2 {
    display: flex;
    align-content: center;
    border: black solid 1px;
    background-color: var(--color-offwhite);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
  }

  .destaquesFoto3 {
    display: flex;
    align-content: center;
    border: black solid 1px;
    background-color: var(--color-offwhite);
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    background-color: var(--color-yellow);
    border: solid black 1px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 15px;
    padding: 40px 12px 40px 12px;
    text-align: center;
  }
  

  .sobreconteudo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    align-items: center;
     
  }

  .sobreconteudo p {
    width: 500px;
  }

  #sobre h1 {
    margin-bottom: 40px;
    text-align: center;
  }

  .imgsobre {
    display: flex;
    width: 50%;
    height: 50%;
    border: solid black 1px;
    border-radius: 10px;
  }
}
